.othmane{
    width:50%;
    display:inline-block;
    margin-left:40px;
}
.todo ul{
    list-style-type : none;
    
}
.todo ul li{
    color :white;
    background-color: red;
    text-align:center;
    font-size: large;
    padding:7px;
    margin-bottom: 5px;
}
.title{
    margin-top:100px;
}